$background:#141414;
$backround_back:#121212;

$modal_background:#242424;
$modal_body:#323232;

$main_font_color:#d9d9d9;
$highlight_color:#13b94d;


$input_hover: #212121;
$input_placeholder:#d8d8d8;

$title:white;
$wheat:wheat;